@model List<ResultTourDto>
<section class="trending pt-6 pb-0 bg-lgrey">
	<div class="container">

		<div class="destination-list">
			@foreach (var item in Model)
			{
				<div class="trend-full bg-white rounded box-shadow overflow-hidden p-4 mb-4">
					<div class="row">
						<div class="col-lg-4 col-md-3">
							<div class="trend-item2 rounded">
								<a href="tour-single.html" style="background-image: url(@item.ImageUrl);"></a>
								<div class="color-overlay"></div>
							</div>
						</div>
						<div class="col-lg-5 col-md-6">
							<div class="trend-content position-relative text-md-start text-center">
								<small>@item.DayNight</small>
								<h3 class="mb-1"><a href="tour-single.html">@item.Title</a></h3>
								<h6 class="theme mb-0"><i class="icon-location-pin"></i> @item.Country</h6>
								<p class="mt-4 mb-0">@item.Description <br><a href="#"><span class="theme"> Ücretsiz İptal</span></a></p>
							</div>
						</div>
						<div class="col-lg-3 col-md-3">
							<div class="trend-content text-md-end text-center">
								<div class="rating">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
								</div>
								<small>@ViewBag.rnd Yorum</small>
								<div class="trend-price my-2">
									<h3 class="mb-0">@item.Price </h3>
									<small>Kişi Başına</small>
								</div>
								<a href="/Tour/TourDetail/@item.TourId" class="nir-btn">Tur Detayı</a>
							</div>
						</div>
					</div>
				</div>
			}

			<div class="text-center mt-4">
				@if (ViewBag.CurrentPage > 1)
				{
					<a href="?page=@(ViewBag.CurrentPage - 1)" class="nir-btn me-2">
						<i class="fa fa-long-arrow-alt-left"></i> Önceki
					</a>
				}

				@for (int i = 1; i <= ViewBag.TotalPages; i++)
				{
					<a href="?page=@i" class="nir-btn me-1 @(i == ViewBag.CurrentPage ? "active" : "")">
						@i
					</a>
				}

				@if (ViewBag.CurrentPage < ViewBag.TotalPages)
				{
					<a href="?page=@(ViewBag.CurrentPage + 1)" class="nir-btn ms-2">
						Sonraki <i class="fa fa-long-arrow-alt-right"></i>
					</a>
				}
			</div>
		</div>
	</div>
</section>