@model GetTourByIdDto
@{
	Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zxx">

<body>
	@await Component.InvokeAsync("_TourHeadComponentPartial")

	@await Component.InvokeAsync("_TourHeaderComponentPartial")

	@await Component.InvokeAsync("_TourBannerImageComponentPartial")

	<section class="trending pt-6 pb-0 bg-lgrey">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="single-content">
						<div id="highlight">
							<div class="single-full-title border-b mb-2 pb-2">
								<div class="single-title">
									<h2 class="mb-1">@Model.Title</h2>
									<div class="rating-main d-md-flex align-items-center">
										<p class="mb-0 me-2"><i class="icon-location-pin"></i>@Model.Country @Model.City</p>
										<div class="rating me-2">
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
										</div>
										<span>(@ViewBag.rnd)</span>
									</div>
								</div>
							</div>

							<div class="description-images mb-4">
								<img src="@Model.ImageUrl" alt="" class="w-100 rounded">
							</div>

							<div class="description mb-2">
								<h4>Description</h4>
								<p>@Model.Description .</p>
							</div>

							<div class="tour-includes mb-4">
								<table>
									<tbody>
										<tr>
											<td><i class="fa fa-clock-o pink mr-1" aria-hidden="true"></i> @Model.DayNight</td>

											<td><i class="fa fa-users pink mr-1" aria-hidden="true"></i> @Model.Capacity Kişi</td>

											<td><i class="fa fa-calendar-check-o pink mr-1" aria-hidden="true"></i> @Model.TourDate.ToString("dd MMM yyyy") </td>
										</tr>
										<tr>
											<td><i class="fa fa-child pink mr-1" aria-hidden="true"></i> Yaş: 10+ </td>

											<td><i class="fa fa-map-marker pink mr-1" aria-hidden="true"></i> @Model.City </td>

											<td><i class="fa fa-money pink mr-1" aria-hidden="true"></i> @Model.Price ₺</td>
										</tr>
									</tbody>
								</table>
							</div>

							<div id="single-map" class="single-map mb-4">
								<h4>Map</h4>
								<div class="map rounded overflow-hidden">
									<div style="width: 100%">
										<iframe class=" rounded overflow-hidden" height="400" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=+(mangal%20bazar)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
									</div>
								</div>
							</div>

							<!-- blog comment list -->
							<div id="single-comments" class="single-comments single-box mb-4">
								<h5 class="border-b pb-2 mb-2">Showing 16 verified guest comments</h5>
								<div class="comment-box">
									<div class="comment-image">
										<img src="images/reviewer/1.jpg" alt="image">
									</div>
									<div class="comment-content rounded">
										<h5 class="mb-1">Helena</h5>
										<p class="comment-date">April 25, 2022 at 10:46 am</p>
										<div class="comment-rate">
											<div class="rating mar-right-15">
												<span class="fa fa-star checked"></span>
												<span class="fa fa-star checked"></span>
												<span class="fa fa-star checked"></span>
												<span class="fa fa-star checked"></span>
												<span class="fa fa-star checked"></span>
											</div>
											<span class="comment-title">The worst hotel ever"</span>
										</div>

										<p class="comment">Take in the iconic skyline and visit the neighbourhood hangouts that you've only ever seen on TV. Take in the iconic skyline and visit the neighbourhood.</p>
										<div class="comment-like">
											<div class="like-title">
												<a href="#" class="nir-btn">Reply</a>
											</div>
											<div class="like-btn pull-right">
												<a href="#" class="like"><i class="fa fa-thumbs-up"></i></a>
												<a href="#" class="disike"><i class="fa fa-thumbs-down"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>

							<!-- blog review -->
							<div id="single-add-review" class="single-add-review">
								<h4>Write a Review</h4>
								<form>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group mb-2">
												<input type="text" placeholder="Name">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group mb-2">
												<input type="email" placeholder="Email">
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group mb-2">
												<textarea>Comment</textarea>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-btn">
												<a href="#" class="nir-btn">Submit Review</a>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>


				<div class="col-lg-4 ps-lg-4">
					<div class="sidebar-sticky sticky1">
						<div class="tabs-navbar bg-lgrey mb-4 bordernone rounded overflow-hidden">
							<div class="row">
								<div class="col-md-12">
									<ul id="tabs" class="nav nav-tabs bordernone mb-0">
										<li class="active">
											<a data-toggle="tab" href="#highlight" class="rounded box-shadow mb-2 border-all">Tur Başlığı</a>
										</li>
										<li>
											<a data-toggle="tab" href="#single-map" class="rounded box-shadow mb-2 border-all">Harita</a>
										</li>
										<li>
											<a data-toggle="tab" href="#single-comments" class="rounded box-shadow mb-2 border-all">Yorumlar</a>
										</li>
										<li>
											<a data-toggle="tab" href="#single-add-review" class="rounded box-shadow mb-2 border-all">Yeni Yorum</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	@await Component.InvokeAsync("_TourVideoCompoentPartial")

	@await Component.InvokeAsync("_TourOurPartnersCompoentPartial")

	@await Component.InvokeAsync("_TourFooterCompoentPartial")

	@await Component.InvokeAsync("_TourScriptsCompoentPartial")

</body>
</html>
